/* DashboardCard.css */

.dashboard-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(145, 86, 86, 0.1);
    padding: 20px;
    text-align: center;
    border: solid 1px rgb(230, 12, 121);
  }
  
  .dashboard-card .value {
    font-size: 24px;
    font-weight: bold;
    color: rgb(230, 12, 121);
  }
  
  