/* HomePage.css */

.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  
    .hero {
        /* background-image: url('../public/images/hero-bg.jpg'); 
    background-image: url('/images/hero-bg.jpg'); */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .shop-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push footer to bottom */
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-media a:hover {
    text-decoration: underline;
  }
  