/* StockTicker.css */

.stock-ticker {
    background-color: rgb(230, 12, 121); 
    color: white;
    padding: 10px;
    overflow: hidden; 
    white-space: nowrap; 
    position: relative;
  }
  
  .ticker-content {
    display: inline-block;
    animation: scroll 10s linear infinite; 
  }
  
  .stock-item {
    display: inline-block;
    margin-right: 30px; /* Space between stocks */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from right */
    }
    100% {
      transform: translateX(-100%); /* End to left */
    }
  }
  